      <div class="row mb-4 project card text-dark shadow">
        <div class="card-header">
          <h3>
            <a href="/category/{{id}}">{{category_name}}
          </h3>
          <img src="/images/{{wine.[0].filename}}" alt="{{wine.[0].title}}">  
          </a>
        </div>
      </div>