<!-- card.handlebars -->
<div class="cards" >
  <link rel="stylesheet" href="/css/jass.css" />
  <link rel="stylesheet" href="/css/card.css" />
  <div class="card-header">
    <a class="catborder" href="/category/{{id}}">
      See Our {{category_name}}!
    </a>
  </div>
</div>
