<header class="display-flex p-2">
  <link rel="stylesheet" href="/css/jass.css" />
  <link rel="stylesheet" href="/css/navbar.css" />

  <h1>
    <a id="logo" href="/"><img src="/images/logo.png" alt=""></a>
  </h1>
  <nav>
    <!-- Conditionally render login or logout links -->
    <a href="/">Home</a>
    {{!-- Do not forget to change the link --}}
    <a href="/top_wines">Top Wines</a>
    <a href="/about_us">About Us</a>
    <a href="/offers">Offers</a>
    {{#if logged_in}}
    <a href="/profile" id="id_profile">Profile</a>
    {{/if}}
  </nav>

  {{#if logged_in}}
  <a href="/"></a>
  <button class="button" id="logout">logout</button>
  {{else}}
  <a href="/login" id="login">login</a>
  {{/if}}

  <script src="/js/logout.js"></script>
</header>
