<div class="form-floating">
  <textarea class="form-control" id="text-comment" placeholder="Leave a comment here" id="floatingTextarea"></textarea>
  <label>Review</label>
  <button type="button" data-id="{{id}}" id="btn-comment" class="btn btn-primary">Submit</button>

</div>