<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Vino-Vault</title>
  <link rel="stylesheet" href="/css/jass.css">
  <link rel="stylesheet" href="/css/style.css">
</head>

<body>
  <div class="flex-column justify-space-around">
    <header class="display-flex justify-space-between align-center p-2">
      <h1>
        <span role="img" aria-label="vine">🍷</span>
        Vino-Vault
      </h1>
      <nav>
        <input id="user-input" class="form-control" type="text" placeholder="Search for your Wine!">
        <!-- Conditionally render login or logout links -->
        <a href="/">Home</a>
        {{!-- Do not foget to change link --}}
        <a href="/">Top Wines</a>
        <a href="/about_us">About Us</a>
        {{#if logged_in}}
        <a href="/">Offers</a>
        {{/if}}
      </nav>
      {{#if logged_in}}
      {{!-- <a href="/profile">profile</a> | --}}
      <button class="no-button" id="logout">logout</button>
      {{else}}
      <a href="/login">login</a>
      {{/if}}
    </header>
    <main class="container container-fluid mt-5">
      <div class="gallery">
        {{{body}}}
      </div>
    </main>
    <footer>

    </footer>
  </div>

  <!-- Render script for logged in users only -->
  {{#if logged_in}}
  <script src="/public/js/logout.js"></script>
  {{/if}}
</body>

</html>