<!-- Loop over each object in the projects array -->
<div>Featured Wines</div>

<div class="container">
  <div class="row homepage-main">
    {{#each categories as |category|}}
    {{> card}}
    {{/each}}
  </div>
</div>
   