<div class="row">
  <div class="col-auto">
    <h2>Welcome, {{name}}!</h2>
  </div>
</div>




  <div class="col-md-6 project-list">
    <h3>Current reviews:</h3>

 {{>review_form}}
{{#each reviews as |review|}}
{{>review_card}}
{{/each}}

</div>

<script src="/js/review.js"></script>
