/* Form container styles */
.form-container {
    margin: 20px;
    padding: 15px;
    border: 3px solid var(--dark);
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.8);
    color: var(--dark);
    position: relative;
}

/* Form title styles */
.form-container h2 {
    font-size: 1.8rem;
    margin-bottom: 15px;
    color: var(--dark); /* Set title color to orange */
    position: relative;
}

/* Underline styles for form titles */
.form-container h2::after {
    content: '';
    display: block;
    height: 3px;
    width: 100%;
    background-color: var(--dark); /* Underline color */
    position: absolute;
    bottom: 0;
    left: 0;
}

/* Form styles */
.form-group {
    margin-bottom: 15px;
}

.form label {
    color: var(--dark);
}

.form-input {
    padding: 8px;
    border: 1px solid var(--dark);
    border-radius: 5px;
}
/* Login and Signup button styles */
.btn-primary {
    background-color: var(--dark-red);
    border: 3px solid var(--dark);
    padding: 10px 20px;
    cursor: pointer;
    color: var(--dark);
    text-decoration: none;
    font-weight: bold;
    border-radius: 10px;
    transition: background-color 0.3s, color 0.3s;
}

.btn-primary:hover {
    background-color:var(--dark);
    color: var(--dark-red);
    text-decoration: none;
}
