:root {
  --primary: #5a0007; /* Darker red color */
  --secondary: #86938f;
  --tertiary: #5e877f;
  --quatrinary: #6c6b67;
  --light: #e3e4e3;
  --dark: #182c23;
  --error: rgb(228, 46, 1);
  --border-radius: 0.3rem;
  --orange: #ffc107; 
}

/* Header styles */
header {
  padding: 40px;
  text-align: left; 
  background: var(--primary);
  color: var(--light);
}

/* Navigation links */
header nav a {
  color: white;
  text-decoration: underline;
  font-weight: bold;
  transition: color 0.3s; /* Smooth transition effect */
}

/* Hover effect on navigation links */
header nav a:hover {
  color: var(--orange); 
  text-decoration: none; 
}

/* Search bar styles */
#user-input {
  background-color: white; 
  color: var(--dark); 
  border: 4px solid var(--orange);
  padding: 10px 15px; 
  border-radius: 20px;
  width: 300px; 
  margin-right: 20px; 
}

/* Button styles for login and other buttons */
.no-button,
#login {
  background: var(--primary); 
  border: 3px solid var(--orange); 
  padding: 10px 20px; 
  cursor: pointer;
  color: white;
  text-decoration: none; 
  font-weight: bold;
  transition: background 0.3s, color 0.3s; 
}

/* Hover effect on buttons */
.no-button:hover,
#login:hover {
  background: var(--orange); 
  color: var(--primary); 
  text-decoration: none; 
}

/* Gallery styles */
.gallery {
  flex: 4;
  background-color: #fff;
  padding: 50px;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
}

/* Image styles */
img {
  max-width: 100%;
  height: auto;
}

/* Card styles */
.card {
  margin: 20px;
  flex: 0 1 300px;
  border: 7px double var(--dark);
  border-radius: 10px;
  background-color: var(--primary);
  color: var(--dark);
}

/* Card header styles */
.card header {
  color: var(--light);
  font-weight: bold;
  text-transform: uppercase;
  margin: 0;
  background-color: var(--primary);
  padding: 0.625rem;
  border-radius: calc(0.18rem - 1px) calc(0.18rem - 1px) 0 0;
}

/* Card body styles */
.card-body {
  font-size: 1.4rem;
  text-align: center;
  font-weight: bo
