
.wine {
    margin: 20px;
    padding: 15px;
    border: 3px solid var(--dark);
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.8); 
    color: var(--dark);
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.wine-left {
    width: 33%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.wine-name {
    color: var(--dark);
    font-size: 1.8rem;
}

.orange-line {
    width: 100%;
    height: 3px;
    background-color: var(--dark);
    margin: 10px 0;
}

.wine-price {
    font-size: 1.4rem;
    font-weight: bold;
}

.wine-image {
    height: auto;
    width: 100%;
    max-height: 300px;
    margin-bottom: 10px;
    object-fit: contain;
}

.wine-details {
    width: 67%;
    margin-left: 20px;
}

.wine .wine-rating:before,
.wine .wine-varietal:before,
.wine .wine-alcohol:before,
.wine .wine-bottle-size:before,
.wine .wine-notes:before,
.wine .wine-category:before {
    font-weight: bold;
    content: attr(data-label); 
    margin-right: 5px; 
}

.wine-rating,
.wine-varietal,
.wine-alcohol,
.wine-bottle-size,
.wine-notes,
.wine-category {
    font-size: 1.2rem;
}
